.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "Card Card Carousel Carousel" ". . . ." ". . . .";
  padding-left: 100px;
  padding-right: 100px;
}

.Card { grid-area: Card; }

.Carousel { grid-area: Carousel; }

.Foto { grid-area: Card; }

.Info { grid-area: Carousel; }

.bodyText
{
    color: LightSlateGray;
}

.backgroundImage
{
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
}

.textJustifier
{
  text-align: justify;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkslategrey;
  border-radius: 10px;
}