.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "Card Card Carousel Carousel" ". . . ." ". . . .";
}

.Card { grid-area: Card; }

.Carousel { grid-area: Carousel; }

.bodyText
{
    color: LightSlateGray;
}

.backgroundImage
{
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;
}